<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>User Home</title>
</head>
<body>
    <div class="container">
        <h1>User Home</h1>

        <h2>Choose an image you would like to meme-ify</h2>
        <table>
            <tr>
                <th>Thumbnail</th>
                <th>Id</th>
                <th>Meme Name</th>
                <th>Added By</th>
            </tr>
            <tr th:each="img:${listavalibleInputImages}">
                <td th:if="${img.imageLocation} != null">
                    <img th:src="${img.imageLocation}" width="150px" th:href="@{/user/make/{id} (id=${img.id})}" />
                </td>
                <td th:text="${img.id}"></td>
                <td th:text="${img.name}"></td>
                <td th:text="${img.author}"></td>
            </tr>
        </table>
    </div>

</body>
</html>